@use 'helpers' as *;

.button {
  @include fluid-text(24, 12);

  padding: rem(19) rem(50);
  color: var(--color-accent-bg);
  background-color: var(--color-dark);
  border: transparent;

  &:focus {
    background-color: var(--color-accent-bg-hover);
  }

  @include hover {
    background-color: var(--color-accent-bg-hover);
  }

}
