@use 'helpers' as *;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: transparent;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: rem(20);

    @include mobile {
      flex-direction: column;
      align-items: center;
      row-gap: rem(10);
    }
  }

  &__navigation {
    display: flex;
  }

   &__icon {
    @include mobile {
      width: rem(25);
      height: rem(25);
    }
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: rem(40);

    @include mobile {
      column-gap: rem(29);
    }
  }
}
